#Total{
    background-color: #00743e;
    color: white;
    border-radius: 16px;
    padding: 1% 2%;
    width: 20%;
}

#Completed{
    background-color: #f2f2f2;
    color: black;
    border-radius: 16px;
    padding: 1% 2%;
    width: 20%;
}

#In{
    background-color: #f2f2f2;
    color: black;
    border-radius: 16px;
    padding: 1% 2%;
    width: 20%;
}

#Pending{
    background-color: #f2f2f2;
    color: black;
    border-radius: 16px;
    padding: 1% 2%;
    width: 20%;
}