.TaskListContainer{
    border: 1px solid black;
    border-radius: 10px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.searchBar{
    width: 60%;
    position: relative;
    margin-top: 2%;
}

.searchInput{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 0px 47px 0px 14px;
}

.searchBtn{
    position: absolute;
    right: 1%;
    border-radius: 50px;
    top: 8%;
    border: none;
    display: flex;
    height: 85%;
    width: 36px;
    justify-content: center;
    align-items: center;
    background: #00764b;
}

.taskUpdates{
    width: 21%;
    height: 28px;
    border: 1px solid black;
    border-radius: 8px;
}

.pending{
    color: rgb(180, 0, 0);
    border: 1px solid rgb(180, 0, 0);
    border-radius: 50px;
    text-align: center;
}

.completed{
    color: green;
    border: 1px solid green;
    border-radius: 50px;
    text-align: center;
}

.in-progress{
    color: rgb(199, 199, 0);
    border: 1px solid rgb(199, 199, 0);
    border-radius: 50px;
    text-align: center;
}