.TaskListContainer{
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
    background-color: white;
}

.statsWidth{
    width: 100%;
}

.homeWidth{
    width: 60%;
}

.searchBar{
    width: 60%;
    position: relative;
    margin-top: 2%;
}

.searchInput{
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 50px;
    padding: 0px 47px 0px 14px;
}

.searchBtn{
    position: absolute;
    right: 1%;
    border-radius: 50px;
    top: 8%;
    border: none;
    display: flex;
    height: 85%;
    width: 36px;
    justify-content: center;
    align-items: center;
    background: #00764b;
}

.taskUpdates{
    width: 21%;
    height: 28px;
    border: 1px solid black;
    border-radius: 8px;
}

.pending{
    color: rgb(180, 0, 0);
    border: 1px solid rgb(180, 0, 0);
    border-radius: 50px;
    text-align: center;
    width: 100%;
    background-color: transparent;
}

.completed{
    color: green;
    border: 1px solid green;
    border-radius: 50px;
    text-align: center;
    width: 100%;
    background-color: transparent;
}

.in-progress{
    color: rgb(169 169 0);
    border: 1px solid rgb(169 169 0);
    border-radius: 50px;
    text-align: center;
    width: 100%;
    background-color: transparent;
}

.taskNotes{
    font-size: 18px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 0;
    /* white-space: nowrap; */
}

.taskNotes:hover {
    -webkit-line-clamp: unset;
    display: block;
    overflow: visible;
    background: #fff;
    position: relative;
    z-index: 5;
}

.editInput {
  width: 100%;
  font-size: 18px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #00764b;
  outline: none;
}